<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../css/styleGit.css" type="text/css">
	</head>
	<body>
		<div class="docTitle"><a name="Definitions">Unfinished Terms</a></div>
		<h1>Table of Contents</h1>
		<p>
			<div><a href="#def_checkout">Check Out / Checkout</a></div>
			<div><a href="#def_fast_forwarding">Fast Forwarding</a></div>
			<div><a href="#def_named_reference">Named Reference</a></div>
		</p>

		<hr>

		<a name="def_checkout"></a>
		<div class="definitionCapsule">
			<div class="term">Check Out / Checkout</div>
			<div class="title">Definition:</div>
			<div class="info">
				<p>Template</p>
			</div>
			<div class="title">Related Terms:</div>
			<div class="info">
				<ul>
					<li>{{Template}}</li>
				</ul>
			</div>
			<div class="title">Disorganized Notes:</div>
			<div class="info">
				<p>Is the term "check out" or "checkout"?</p>
				<p>The term will mean different things between different VCS (Version Control Systems) so it might be good to define what it means to Git specifically</p>
				<p><a href="https://soylentnews.org/comments.pl?noupdate=1&sid=44503&commentsort=0&mode=threadtos&threshold=-1&highlightthresh=-1&page=1&cid=1169630#commentwrap">Link to SoylentNews comment which started this idea</a></p>
			</div>
		</div>

		<a name="def_fast_forwarding"></a>
		<div class="definitionCapsule">
			<div class="term">Fast Forwarding</div>
			<div class="title">Temp Notes:</div>
			<div class="info">
				<ul>
					<li>Confidence Level of Definition: None</li>
				</ul>
			</div>
			<div class="title">Definition:</div>
			<div class="info">Template</div>
			<div class="title">Related Terms:</div>
			<div class="info">Template</div>
			<div class="title">Disorganized Notes:</div>
			<div class="info">
				<p><span class="definition">Fast forwarding</span> -- (Using the informal definition of branch): When a merge occurs and merges the "new-feature-branch" on to the "main-branch", and the main-branch hasn't been updated in the meantime, Git takes the liberty to merge all the file changes from new-feature-branch into the main-branch and delete the feature-branch from the commit history. It makes it look like there was never a feature-branch to begin with and that all commits were actually made on the main-branch. This is known as fast forwarding. Although this can sometimes be desirable, it is sometimes <a href="https://stackoverflow.com/questions/6701292/git-fast-forward-vs-no-fast-forward-merge">not desirable</a>. There is also a good graphic <a href="https://confluence.atlassian.com/bitbucket/git-fast-forwards-and-branch-management-329977726.html">here</a> that shows how fast forwarding works.</p>
				<p>Professional Git users tend to prefer rebasing</p>
</div>
		</div>

		<a name="def_named_reference"></a>
		<div class="definitionCapsule">
			<div class="term">Named Reference</div>
			<div class="title">Temp Notes:</div>
			<div class="info">
				<ul>
					<li>Confidence Level of Definition: None</li>
				</ul>
			</div>
			<div class="title">Definition:</div>
			<div class="info">
				<p>Do not use; This is a term used which does not seem to have an official definition</p>
			</div>
			<div class="title">Related Terms:</div>
			<div class="info">
				<ul>
					<li>{{Branch}}</li>
					<li>{{head}}</li>
					<li>{{HEAD}}</li>
					<li>{{Tag}}</li>
				</ul>
			</div>
			<div class="title">Notes:</div>
			<div class="info">
				<p>The term "named reference" is found used in the term {{"head" in the Git glossary}}, but this has no specific meaning to me. Around the internet, many people describe branches or tags as "simply a named reference". In my definitions of {{head}}, {{branch}}, and {{tag}}, I specifically state what they are. Although {{Git objects}} can have things like names, it is not an explicit property used at the porcelain level.</p>
				<p>When people use this, they are actually trying to say definition 2 of {{reference}} which is a string representing a location where the reference is found under <code>.git</code>. Note that annotate tags would not be included. Also note that not all definitions of the term {{branch}} are covered -- only {{branch reference}} is covered.</p>
				<p>TODO: Would this be considered an unofficial term???</p>
			</div>
		</div>

		<hr>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>
		<p>Filler</p>
		<br>
		<br>
		<br>
		<br>
		<br>

	</body>
</html>
