@import url("style.css");

:root {
	/* --column-size: 20%; */
	--column-size: 300px;
	--column-space: .75em;
	--alternate-color: #0000FF;
}

code {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
	background-color: #000040;
	color: #FFFF00;
	padding: 0.1em 0.1em;
	margin: 0.1em;
	border-width: 0em 0.3em 0em 0.3em;
    border-style: solid;
    border-color: #700000;
	border-radius: 0.3em;
}
.tableOfContents {
	font-size: 1.2em;
}

.emphasis { font-style: italic; }

.addExample {
	margin: 0em; 1em;
	padding: 1em; 1em;
	border: 1px solid black;
}
.deleteExample {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
	justify-content: start;
	margin: 0em; 1em;
	padding: 1em; 1em;
	border: 1px solid black;
}
.removeExample {
	margin: 0em; 1em;
	padding: 1em; 1em;
	border: 1px solid black;
}
.multiCodes {
	display: grid;
	grid-gap: 1em;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
}
.code {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
	background-color: #000000;
	color: #FFFF00;
	padding: 1em 1em;
	margin: 1em;
	border-width: 0.3em 0.3em 0.3em 0.3em;
    border-style: solid;
    border-color: #700000;
	border-radius: 0.3em;
}
.codeExplanation {
	font-size: 1.0em;
	background-color: #000000;
	color: #30FF30;
	padding: 1em 1em;
	margin: 1em;
}
.codeCompare {
	color: #FF7000;
}
.codeHighlight {
	color: #00FFFF;
}
.codeImage {
	padding: 0em 1em;
}

.codeForHeader {
	font-size:1.5em;
	font-weight: bold;
	margin: 0em 0em 1em 0em;
}

.sectionBreakDecoration1 {
	grid-column: span 2;
	background-color: #0000A0;
	border-radius: .2em;
	margin: 1em 0em 1em 0em;
	height: .4em;
}
.sectionBreakDecoration2 {
	grid-column: span 2;
	color: #0000A0;
	border-radius: .2em;
	border-style: dashed;
	margin: 1em 0em 1em 0em;
	height: 0em;
}


/* The code below is to eventually be deleted */
.biomeEdge {
	color:#00C0C0;
}
.biomeOverviewTest1 {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto 1fr;
	border: .5px solid black;
}
#ThreeBiomes {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto 1fr;
	margin: 1em;
	border: .5px solid black;
}
#ThreeBiomes-WorkingEnvironment {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto auto auto auto auto auto;
	grid-template-columns: auto;
}
#ThreeBiomes-StagingArea {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: auto;
}
#ThreeBiomes-Repository {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
}
#ThreeBiomes-Repository-Title {
	grid-column: 1 / span 2;
}
#CommitFiles {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto auto auto 1fr;
	margin: 1em;
	border: .5px solid black;
}
#BranchesAndFiles {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto auto auto 1fr;
	margin: 1em;
	border: .5px solid black;
	color: #F0C0C0;
	border-collapse:separate;
	/* align-content:center; */
}
#BranchList {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto auto auto 1fr;
	margin: 1em;
	border: .5px solid black;
}
.Branch {
	margin: 1em;
	padding: .5em;
	background-color: #F0C0C0;
	border: 6px solid black;
	border-radius: 1em;
}
.Branch-Common {
	background-color:#F0C0C0;
	color:#000000;

	display:table;
	width:100%;
	height:100%;
	border-spacing: 0px;
	padding: 0px;
	margin:0px;
}
.Branch-Title {
	text-align: center;
	font-weight: bold;
}
.Biome-Common{
	margin: 1em;
	padding: .5em;
	background-color: #00C0C0;
	border: 6px solid black;
	border-radius: 1em;
}
.VerticalBuffer {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto 1fr;
	grid-template-columns: auto;
}
.HorizontalBuffer {
	display: grid;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto 1fr;
}
.biomeTitle {
	text-align:center;
	font-weight: bold;
	display:table;
	padding-top: 1em;
	padding-bottom: 1em;
}
.index {
	background-color: #A00000;
	color: #FFFFFF;
	border-radius: .5em;
	padding: 0.4em;
	margin: 0.2em;
	border: 4px solid black;
	text-align: center;
}
.tag {
	background-color: #A0A000;
	color: #FFFFFF;
	border-radius: .5em;
	/*padding: 0.4em; */
	/*margin: 0.2em;*/
	border: 4px solid black;
	/* height:150px; */
	text-align: center;

	/* align-content: center;
	display:grid;
	grid-template-rows: auto;
	grid-template-columns: auto; */
	display: table-cell;
	vertical-align: middle;

	/* border: 1px solid #000; */
	border-spacing: 0px;
	padding: 0px;
}
.commit {
	background-color: #00A000;
	color: #FFFFFF;
	border-radius: .5em;
	padding: 0.4em;
	margin: 0.2em;
	border: 4px solid black;
	text-align: center;
}
.file {
	background-color: #0000A0;
	color: #FFFFFF;
	border-radius: .5em;
	padding: 0.4em;
	margin: 0.2em;
	border: 4px solid black;
	text-align: center;
}
.fileChanged {
	background-color: #4040FF;
}
.verticalAlign1 {
	display:table;
	width:100%;
	height:100%;

	/* border-collapse: collapse; */
}
.verticalAlign2 {
	display: table-cell;
	vertical-align: middle;

	border: 1px solid #000;
}
