@import url("css/hack.min.css");
@import url("css/hack-extended.min.css");
/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("/home/johnencrypted/TeamDriveSpaces/jmbHome/InternetMenu/fonts/woff2/SourceSerifPro-Ext.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff2/SourceSerifPro-Reg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  /* Dark Blue Theme*/

  --col-background: #000010;
  --col-foreground: #c0c0d0;
  --col-header: #c0c0d0;
  --col-border: #3030A0;
  --col-tableHeader: #000040;
  --col-selectedTab: #000050;
  --col-background-blockquote: #0000A0;
  --col-border-blockquote: #A0A0FF;
  --col-link: #A0A0FF;
  --col-link-visited: #7070FF;
  --col-link-hover: #FFFFFF;
  --col-definition-capsule-background: #000030FF;
  --col-definition-capsule-border-left: #0070A0;
  --col-definition-capsule-term-background: #0070A0FF;
  --col-definition-capsule-title-details-background: #0070A070;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #000040;
  --col-code-foreground: #FFFF00;
  --col-code-border: #700000;
  --col-kbd: #C0D0C0;


  /* Dark Green Theme*/
  /*
  --col-background: #001000;
  --col-foreground: #d0d0d0;
  --col-header: #c0d0c0;
  --col-border: #c0d0c0;
  --col-tableHeader: #004000;
  --col-selectedTab: #005000;
  --col-background-blockquote: #004000;
  --col-border-blockquote: #A0FFA0;
  --col-link: #30FF30;
  --col-link-visited: #70FF70;
  --col-link-hover: #FFFFFF;
  --col-definition-capsule-background: #002000FF;
  --col-definition-capsule-border-left: #00A070;
  --col-definition-capsule-term-background: #007030FF;
  --col-definition-capsule-title-details-background: #00A07070;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #003000;
  --col-code-foreground: #FFFF00;
  --col-code-border: #700000;
  --col-kbd: #C0D0C0;
  */

  /* Light Gray Theme*/
  /*
  --col-background: #E0E0F0;
  --col-foreground: #000000;
  --col-header: #000000;
  --col-border: #000000;
  --col-tableHeader: #AAAAFF;
  --col-selectedTab: #B0B0B0;
  --col-background-blockquote: #A0A0D0;
  --col-border-blockquote: #404080;
  --col-link: #000010;
  --col-link-visited: #707070;
  --col-link-hover: #3030FF;
  --col-definition-capsule-background: #A0A0D0;
  --col-definition-capsule-border-left: #404080;
  --col-definition-capsule-term-background: #8080B0;
  --col-definition-capsule-title-details-background: #8080B0;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #202040;
  --col-code-foreground: #FFFF00;
  --col-code-border: #0000A0;
  --col-kbd: #202030;
  */

  /* Light Blue Theme*/
  /* Note: This theme needs an update */
  /*
  --col-background: #D3EAFC;
  --col-foreground: #000000;
  --col-header: #2196F3;
  --col-border: #2196F3;
  --col-tableHeader: #9dcdf3;
  --col-selectedTab: #53a4e4;
  --col-background-blockquote: #A0A0FF;
  --col-border-blockquote: #000000;
  --col-link: #000010;
  --col-link-visited: #707070;
  --col-link-hover: #3030FF;
  --col-definition-capsule-background: #A0A0D0;
  --col-definition-capsule-border-left: #404080;
  --col-definition-capsule-term-background: #8080B0;
  --col-definition-capsule-title-details-background: #8080B0;
  --col-tab-hover: #FFFFFF;
  --col-summary-hover: #FFFFFF;
  --col-code-background: #202040;
  --col-code-foreground: #FFFF00;
  --col-code-border: #0000A0;
  --col-kbd: #202030;
  */
}

body {
  background: var(--col-background);
  color: var(--col-foreground);
  font-family: "Roboto", "Source Serif Pro", serif;
	font-size: 16px;
}
a:link {
  color: var(--col-link);
  text-decoration: underline;
}
a:visited {
  color: var(--col-link-visited);
  text-decoration: underline;
}
a:hover {
  color: var(--col-link-hover);
  text-decoration: underline;
}
blockquote {
	font-style: italic;
  background: linear-gradient(to right, var(--col-background-blockquote), transparent 90%);
  border-left: 4px solid var(--col-border-blockquote);
  border-radius: 1em;
  padding: .5em 0em .5em .7em;
  margin: 1em 0em 1em 0em;
}
.docTitle {
	color: var(--col-header);
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
	font-weight: bold;
}
h1 { text-align:center; text-decoration: underline; font-size:2.5em; color: var(--col-header);}
h2 { text-decoration:underline; font-size:2.0em; color: var(--col-header);}
h3 { text-decoration:underline; font-style:italic; font-size:1.5em; color: var(--col-header);}
h4 { text-decoration:underline; font-weight: bold; font-size:1.25em; color: var(--col-header);}
h5 { text-decoration:underline; font-weight: bold; font-size:1.25em; color: var(--col-header);}
h6 { text-decoration:underline; font-weight: bold; font-size:1.25em; color: var(--col-header);}
code {
	font-family: "Hack", monospace;
	font-size: 1.0em;
}
kbd {
    font-family: "Hack", monospace;
	border: 1px solid var(--col-border);
	border-radius: 4px;
	padding: 3px 6px;
	font-size: 0.8rem;
    border-bottom: 3px solid var(--col-border);
}
p {
    margin: 1em 0em 0em 0em;
    text-indent: 0em;
}
p:first-child {
    /*margin: 0em 0em 0em 0em;*/
    margin-top: 0em;
}
p:last-child {
    margin-top: 1em;
    /* margin: 1em 0em 0em 0em; */
}
p:only-child {
    margin-top: 1em;
    /*margin: 0em 0em 0em 0em;*/
}
ul, ol {
    margin: 0em;
}


.definitionCapsule {
  background: linear-gradient(to right, var(--col-definition-capsule-background), transparent 90%);
  border-left: 4px solid var(--col-definition-capsule-border-left);
  border-radius: 1em;
  padding: 1em .5em 1em .7em;
  margin: 1em .5em 1em .5em;
}
.definitionCapsule .term {
  background: linear-gradient(to right, var(--col-definition-capsule-term-background), transparent 90%);
  padding: .3em;
  border-radius: .3em;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0em 0em 1em 0em;
}
.definitionCapsule .title {
  margin: 1em 0em 0em 1em;
  font-weight: bold;
}
.definitionCapsule .info {
  margin: 0em 0em 0em 2em;
}

.definitionCapsule .title .details {
  margin: 0em 0em 0em 0em;
  padding: .3em;
  border-radius: 1em;
  background-color: var(--col-definition-capsule-title-details-background);
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0.3em;
  text-decoration: none;
}

.indent1 { margin-left: 2em; }
.indent2 { margin-left: 4em; }
.indent3 { margin-left: 6em; }
.indent4 { margin-left: 8em; }
.emphasize {
	font-weight: bold;
	font-style:italic;
}

.col2 {
	grid-template-columns: auto auto;
}
.col3 {
	grid-template-columns: auto auto auto;
}
.col4 {
	grid-template-columns: auto auto auto auto;
}
.col5 {
	grid-template-columns: auto auto auto auto auto;
}
.col6 {
	grid-template-columns: auto auto auto auto auto auto;
}
.col7 {
	grid-template-columns: auto auto auto auto auto auto auto;
}
.gridTable {
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	border: .5px solid var(--col-border);
}
.gridTable > div {
	padding: 0.3em;
	border: .5px solid var(--col-border);
}
.tableHeader1 {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: center;
	font-size:1.5em;
	padding: .5em;
	border: .5px solid var(--col-border);
}
.tableHeader2 {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: center;
	border: .5px solid var(--col-border);
	font-size:1.2em;
	padding: .3em;
}
.span2 {
	grid-column: span 2;
}
.rowspan2 {
	grid-row: span 2;
}
.span3 {
	grid-column: span 3;
}
.rowspan3 {
	grid-row: span 3;
}
.span4 {
	grid-column: span 4;
}
.rowspan4 {
	grid-row: span 4;
}
.span5 {
	grid-column: span 5;
}
.rowspan5 {
	grid-row: span 5;
}

.theTable1or2or4 {
  /* This class needs to be renamed or removed; It's only used in TrackingBranches.html */
	display: grid;
	margin: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto;
  border: .5px solid #700000;
}
