@import url("styleGit.css");

:root {
	/* --col-parameter-table: #7F7F00; */
	--col-border: #003B8C;
    --svg-dot: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><circle cx="5" cy="4" r="1" fill="silver" /></svg>');
    --col-header1: #0077FF;
    --col-header2: #0066DD;
    --col-header3: #0055BB;
    --col-header4: #004499;
}

.tree {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
	white-space: pre;
}

.code {
	padding: 0.1em 0.1em;
	margin: 0.1em;
	border-width: 0.3em 0.3em 0.3em 0.3em;
}

.commandsTable {
	display: grid;
	margin: 0em;
	padding: 1em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto;
	border: .5px solid var(--col-border);
	border-radius: 0.3em;
}

.commandsTable > div:nth-child(2n-1) {
    background: #000030;
}

.commandsTable > div:nth-child(2n) {
    background: #000050;
}

.commandsTable > div {
}

.commandsTable > div > div {
	display: grid;
	margin: 0em;
	padding: 0em;
	grid-gap: 0em;
	grid-template-rows: auto;
	grid-template-columns: auto auto 1fr auto;
}

.commandsTable > div > div > div:nth-child(4n-3) {
	font-family: "Hack", Courier, monospace;
	font-size: 1.0em;
	white-space: pre;
}
.commandsTable > div > div > div:nth-child(4n-2) {
	padding: 0em 0.5em 0em 0em;
}

.commandsTable > div > div > div:nth-child(4n-2).header1 {
    font-size: 1.4rem;
    font-weight: bold;
}

.commandsTable > div > div > div:nth-child(4n-2).header2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.commandsTable > div > div > div:nth-child(4n-1) {
    background-image: var(--svg-dot);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: 10px 10px;
}

.commandsTable > div > div > div:nth-child(4n) {
    padding: 0em 0em 0em 0.5em;
}


.commandTable {
	display: grid;
	margin: 0em;
	padding: 0em;
	grid-gap: 0em;
	grid-template-rows: auto;
}
.commandTable > div {
	padding: 0.3em;
	margin: 0.05em;
	border: .5px solid var(--col-border);
    border-radius: 0.3em;
}
.commandTable > .code {
	text-indent: -2em;
	padding: 0.3em 0.3em 0.3em 2.3em;
	border: .5px solid var(--col-border);
	margin: 0.05em;
    border-radius: 0.3em;
}
.commandTable > .text {
	padding: 0.3em 0.3em 0.3em 0.3em;
}
.commandTable > .text > p:only-child {
    margin-top: 0em;
}
.commandTable > .top {
	border-left: .5px solid var(--col-border);
	border-right: .5px solid var(--col-border);
	border-top: .5px solid var(--col-border);
	border-bottom: 0px solid var(--col-border);
	margin-top: 0.05em;
	margin-bottom: 0em;
	padding-bottom: 2em;
    border-radius: 0.3em 0.3em 0em 0em;
}
.commandTable > .bottom {
	border-left: .5px solid var(--col-border);
	border-right: .5px solid var(--col-border);
	border-top: 0px solid var(--col-border);
	border-bottom: .5px solid var(--col-border);
	margin-top: 0em;
	margin-bottom: 0.05em;
    border-radius: 0em 0em 0.3em 0.3em;
}

.parameterTable {
	display: grid;
	margin: 0em;
	padding: 0em;
	grid-gap: 0em;
	grid-template-rows: auto;
}
.parameterTable > div {
	padding: 0.3em;
	margin: 0.05em;
	border: .5px solid var(--col-border);
    border-radius: 0.3em;
}
.parameterTable > .code {
	text-indent: -2em;
	padding: 0.3em 0.3em 0.3em 2.3em;
	border: .5px solid var(--col-border);
	margin: 0.05em;
    border-radius: 0.3em;
}
.parameterTable > .header {
	font-size:1.3em;
	background-color: var(--col-border);
	font-weight: bold;
	text-align: center;
}
.parameterTable > .text {
	padding: 0.3em 0.3em 0.3em 0.3em;
}
.parameterTable > .checkbox {
    display:flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items:center;
    align-content:flex-start;

	border-left: .5px solid var(--col-border);
	border-right: .5px solid var(--col-border);
	border-top: 0px solid var(--col-border);
	border-bottom: .5px solid var(--col-border);
}
.parameterTable > .checkbox > div {
    margin: 0.3em;
    padding: 0.3em 0.7em 0.3em 0.7em;
    border: 1px solid var(--col-border);
    border-radius: 0em;
}
.parameterTable > .text > p:only-child {
    margin-top: 0em;
}
.parameterTable > .top {
	border-left: .5px solid var(--col-border);
	border-right: .5px solid var(--col-border);
	border-top: .5px solid var(--col-border);
	border-bottom: 0px solid var(--col-border);
	margin-top: 0.05em;
	margin-bottom: 0em;
	padding-bottom: 2em;
    border-radius: 0.3em 0.3em 0em 0em;
}
.parameterTable > .bottom {
	border-left: .5px solid var(--col-border);
	border-right: .5px solid var(--col-border);
	border-top: 0px solid var(--col-border);
	border-bottom: .5px solid var(--col-border);
	margin-top: 0em;
	margin-bottom: 0.05em;
    border-radius: 0em 0em 0.3em 0.3em;
}

/* Old Code Used in Branches.html*/

.commandTableOld {
	display: grid;
	margin: 0em;
	padding: 0em;
	grid-gap: 0em;
	grid-template-rows: auto;
	/* grid-template-columns: max-content auto; */
	grid-template-columns: auto auto;
    border-radius: 0.3em;
	/* border: .5px solid var(--col-border); */
}
.commandTableOld > .header {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: center;
	font-size:1.5em;
	margin: 3em 0em 0em 0em;
	padding: .5em;
	border: .5px solid var(--col-border);
	grid-column: span 2;
}
.commandTableOld > .code {
	text-indent: -2em;
	padding: 0.3em 0.3em 0.3em 2.3em;
	margin: 0em 0em 0em 0em;
	border: .5px solid var(--col-border);
	margin: 0.05em;
    border-radius: 0.3em;
}
.commandTableOld > div {
	padding: 0.3em;
	margin: 0.05em;
	border: .5px solid var(--col-border);
    border-radius: 0.3em;
}

.parameterTableOld {
	display: grid;
	margin: 2em 0em 0em 0em;
	padding: 0em;
	grid-gap: 0em;
	grid-template-rows: auto;
	/* grid-template-columns: max-content auto; */
	grid-template-columns: auto auto;
    border-radius: 0.3em;
	border: 0px solid var(--col-parameter-table);
	/* word-wrap: normal; */
}
.parameterTableOld > .code {
	padding: 0.3em;
	margin: 0em;
	background-color: var(--col-background);
	color: var(--col-foreground);
	border: 0px solid var(--col-parameter-table);
	margin: 0em;
    border-radius: 0em;
}
.parameterTableOld > .mainHeader {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: left;
	font-size:1.5em;
	padding: 0.3em;
	border: 0px solid var(--col-parameter-table);
	grid-column: span 2;
}
.parameterTableOld > .columnHeader {
	background-color: var(--col-tableHeader);
	font-weight: bold;
	text-align: left;
	font-size:1em;
	padding: .5em;
	border: 0px solid var(--col-parameter-table);
}
.parameterTableOld > div {
	padding: 0.3em;
	margin: 0em;
	border: 0px solid #7F7F00;
    border-radius: 0em;
}
